%section
  %h1#static-page
    = t( '.headline')
%section
  .content-right
    #content
      %p#notice= notice
      %p= t( '.info' )

      #signup
        = form_for @optin, url: optouts_path do |f|
          .box
            - if @optin.errors.any?
              #error_explanation
                %h2= "#{t(:error, count: @optin.errors.messages.count)}"
                %ul
                  - @optin.errors.full_messages.each do |msg|
                    %li= msg
            %p              
              = render partial: 'shared/mobile_input', locals: { f: f }
              %br
              %label= t( '.comment' )

              = f.text_area :user_comment, id: "Kommentar", placeholder: t( '.placeholder'), 
                size: "50x8", style: "resize:none"
          %p
            = f.submit t( '.submit' )
          


