%section#main
  %h1#static-page= t('.headline') 
%section  
  #static-box
    BD Internet GmbH 
    %br
    c/o HitFox GmbH 
    %br
    Rosenstraße 17 
    %br
    10178 Berlin 
    %br
    %br
    Amtsgericht Charlottenburg; HRB 158127 B 
    %br
    USt-Id.: DE295498059 
    %br
    %br
    Geschäftsführer: Hendrik Krawinkel 
    %br
    %a{href: "mailto:info@zeotap.com"} info@zeotap.com
  
