- if @result == 1 
  $('#mno_checked').val('true');
  $('#new_optin').submit();

- else
  - html = I18n.t ('mno_lookup.result_not_valid') if @result == 0
  - html ||= I18n.t ('mno_lookup.result_error')

  // display error 
  $('#wait_image').hide();
  $('#submit_button').show();
  $('#mno_error').show()
  $('#mno_error').html('#{j html}');
