$background: #FFF !default;
$font-base: Arial, Verdana, Sans-Serif !default;

$text-color: #000 !default;

$link-color: #6CF !default;
$link-hover-color: #0000BB !default;

$font-headline: 700 2em/2.4em Arial, Helvetica, Sans-Serif !default;
 // Arial, Verdana, Sans-Serif !default;

$keyvisual: none !default;

$highlight-color: #FF0000 !default;
$highlight-color-contrast: #FFF !default;

$button-face: #E41F00 !default;

$nav-link-color: #FF0000 !default;