
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  background: #FAFAFA;
  color: #022B42;    
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;

}




section {
  max-width: 980px;
  padding: 1rem;
  margin: 0 auto;
  clear: both; }


.content-right {
  width: 50%;
  padding: 2%;
  float: right; }


#key-visual {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 600px; }

  #key-visual img {
    max-width: 100%; }


#main {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  width: 1136px;
  z-index: 1;
}

#static-box {
  margin-top: 30px;
}


#nav {
  bottom: 0;
}

  #nav ul {
    list-style: none; }

    #nav ul li {
      display: inline;
      padding: 0 2rem; }


#wait_image {
    display: none;
    position:   relative;
    z-index:    1000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#optimo-header {
  width: 100%;
  height: auto;
  padding: 30px;
  background: transparent image-url('optimo-header-background.png');

  #header-container {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;

    #header-logo {
      width: 240px;
      float: left;
    }

    #headline-text {
      font: 700 32px/44px Arvo, Arial, Sans-Serif;
      font-size: 1.9em;
      color: #fff;
      width: auto;
      margin: 25px 0px 0px 65px;
      float: left;
    }
  }
}

a {
  color: #06ACF2;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}

input[type="text"] {
  box-shadow: inset 0px 2px 3px #dddddd;
  border: 1px solid #bbb;
  padding: 8px;
  width: 84%;
}

textarea {
  box-shadow: inset 0px 2px 3px #dddddd;
  border: 1px solid #bbb;
  padding: 8px;
  width: 100%;
}

input[type="submit"], input[type="button"], button {
  background: #06ACF2;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  padding: 18px;
  width: 100%;
  cursor: pointer;
  font-size: 1.6em !important;
  -webkit-appearance: none;
}


#error_explanation {
  color: #ff0000;
  font-weight:bold;
  background-color: #FDE4E4;
  border: 1px solid #ff0000;
  padding: 5px;
  h2 {
    font-size: 1em;
    color: #ff0000;
  }
  li {
    font-size: 0.9em !important;
    padding: 2px 0px;
  } 
}


h1 {
  width: 80%;
  margin-top: 2rem;
  color: #06ACF2;
  font-size: 2.5em;
  font-family: Arvo, Arial, Sans-Serif;
  float: right; 
}

h1#static-page {
  float: none;
}

h2 {
  font-size:1.4em;
  line-height: 3em;
  font-family: Arvo, Arial, Sans-Serif;
  color: #06ACF2;
}

