= form_for @optin do |f|

  = hidden_field_tag :mno_checked, false

  .box
    - if @optin.errors.any?
      #error_explanation
        %h2= "#{t(:error, count: @optin.errors.messages.count)}"
        %ul
          - @optin.errors.messages.each do |msg|
            %li= msg.second.first

    %p
      = render partial: 'shared/mobile_input', locals: { f: f }
    
    %p
      = f.hidden_field :tracked_advertiser_id, value: "new-zeotap"
      = f.hidden_field :transaction_id, value: transaction_id_params

    %p
      #terms              
        = f.check_box :terms

        = t('.terms_confirmation', link: link_to(t('.terms'), '/pages/terms')).html_safe

        = f.submit t('.submit'), id: "submit_button"

        %a{ name: "buttonmarker" }
      
      #wait_image= image_tag("ajax-loader.gif")

      #mno_error

:javascript
  terms = $("#optin_terms");
  terms.unbind('click').click(function(){

    if (terms.prop('checked')) {
      terms.fancybox({
        width: 500,
        maxWidth: 500,
        closeBtn: false,
        modal: true,
        content: "#{j render partial: 'terms'}",
        afterClose: function() {
          if (terms.prop('checked')) {
            terms.prop('checked', false);
            terms.unbind('fancybox');
          } else {                        
            terms.prop('checked', true);
          }
        }
      });
    } else {
      terms.fancybox({
        content: "#{I18n.t('optins.terms_popup.withdrawal')}",
        afterClose: function() {
          terms.prop('checked',false);
        }
      });
    }
  });
    
- if params[:lookup]
  :javascript
    // show status bar      
    $('#wait_image').show()    
    $('#submit_button').hide()
    window.location = window.location.href + "#buttonmarker";
    var mobile = $('#optin_country_code').val() + $('#Mobilfunknummer').val();
    var url = '/mno_lookup/' + mobile;
    $.get(url);
  
