.terms-popup
  = render partial: 'shared/terms'
  
  %div{align:"center"}
    %a#confirm= I18n.t('optins.terms_popup.confirm')
  
:javascript
  $('#confirm').click(function(){
    $.fancybox.close();
  });

