%section
  %h1= t('.headline')
    
  #whitespace
    &nbsp;
    #keyvisual= image_tag 'key-visual.png', width: 600

  #content
    %p#notice
      = t('.info', mailto: '<a href="mailto:info@zeotap.com">info@zeotap.com</a>' ).html_safe
    ="liefer held voucher code: #{@voucher.code}"
      


