%section
  %h1= t('.headline')
%section     
  .content-right
    #content
      %p
        %ul
          - t('.benefits').each do |benefit|
            %li= benefit
      
    %p#notice= notice

    - if @optin
      #signup
        = render partial: 'form'
    - else
      = t('.voucher_campaign_expired')

#key-visual
  = image_tag 'key-visual.png'
