!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= t('.title')
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:href => "//fonts.googleapis.com/css?family=Arvo:400", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all'

    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>      
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  /%body#optimo-startpage
  %body
    #optimo-header        
      #header-container          
        #header-logo= link_to image_tag("logo.png"), root_path          
        #headline-text= t('.headline')
    
    = yield
    
    %section
      #nav        
        %ul
          %li= link_to t('.home'),    '/'
          %li= link_to t('.imprint'), '/pages/imprint'
          %li= link_to t('.privacy'), '/pages/privacy'
          %li= link_to t('.faq'),     '/pages/faq'
          %li= link_to t('.terms'),   '/pages/terms'
          %li= link_to t('.optout'),  new_optout_path

    